:root {
  --color: rgb(127, 229, 232);
  --bg-color: black;
  --font-family: "Roboto", sans-serif;
  --spacing: 16px;
  --font-size: 0.8rem;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

header {
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
}

header div,
nav a,
nav li {
  color: var(--color);
  font-size: 1em;
}

nav {
  li {
    display: inline;
    margin-right: 1rem;
  }
  a {
    text-decoration: none;
  }

  ul {
    text-decoration: none;
  }
}

button {
  width: 85px;
  height: 30px;
  background-color: var(--color);
  border-radius: 5px;
}

.page-title {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title h1 {
  margin: 0;
}

.page-title-text {
  font-size: 3rem;
}

.subhead {
  font-size: 1.25em;
  font-weight: 300;
  color: grey;
  margin-block-start: 0.5em;
}

.photo-section {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.photo-containing-div {
  display: inline-block;
  width: 80vw;
  height: 50vh;
  overflow: hidden;
}

.photo-containing-div img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.testimonials {
  width: 80vw;
  justify-content: center;
  margin: 50px auto;
  margin-bottom: 100px;
}

.test-head {
  font-size: 2rem;
  margin-block-end: 0;
}

.testimonials-div {
  display: flex;
  justify-content: space-between;
}

.testimonial-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 175px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgb(210, 205, 205), -3px 0px 5px rgb(210, 205, 205);
}

.testimonial-info {
  display: flex;
}

.customer-quote {
  font-size: 1.25rem;
  font-weight: 500;
}

.testimonial-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
